<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <div>
        <%- include('partials/navbar'); %>
    </div>
    <div>
        <%- include('partials/all-products-hero'); %>
    </div>
    <div>
        <%- include('partials/all-products-content'); %>
    </div>
    <footer>
        <%- include('partials/footer-1'); %>
    </footer>
</body>
</html>