<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/navbar'); %>
    <%- include('partials/basket-hero'); %>
    <%- include('partials/basket-content'); %>
    <%- include('partials/recommended'); %>
    <footer>
        <%- include('partials/footer-2'); %>
    </footer>
</body>
</html>